@font-face {
  font-family: "iconfont"; /* Project id 3560950 */
  src: url('iconfont.woff2?t=1659869213212') format('woff2'),
       url('iconfont.woff?t=1659869213212') format('woff'),
       url('iconfont.ttf?t=1659869213212') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before {
  content: "\e8b6";
}

.icon-fanhui:before {
  content: "\e602";
}

.icon-saomiao:before {
  content: "\e606";
}

.icon-shuaxin:before {
  content: "\e60f";
}

.icon-luxian:before {
  content: "\e621";
}

.icon-dianzan:before {
  content: "\e60a";
}

.icon-youjian:before {
  content: "\e6eb";
}

.icon-shezhi:before {
  content: "\e61c";
}

.icon-shaixuan:before {
  content: "\e693";
}

.icon-pinglun:before {
  content: "\e679";
}

.icon-geren:before {
  content: "\e64d";
}

.icon-hezi:before {
  content: "\e6c0";
}

.icon-kefu:before {
  content: "\e61b";
}

.icon-fenxiang:before {
  content: "\e8b0";
}

.icon-bianji:before {
  content: "\e73e";
}

.icon-chongdianzhuang:before {
  content: "\e672";
}

.icon-shandian:before {
  content: "\e746";
}

.icon-shandian1:before {
  content: "\e6e1";
}

.icon-tongzhi:before {
  content: "\e650";
}

.icon-cheliang:before {
  content: "\e654";
}

.icon-fengshan:before {
  content: "\e604";
}

.icon-dianzhuang:before {
  content: "\e6ad";
}

.icon-bianqian:before {
  content: "\e8d6";
}

.icon-lingdang:before {
  content: "\e8c0";
}

.icon-sousuo:before {
  content: "\e60d";
}

.icon-faxian2:before {
  content: "\e692";
}

.icon-gouwudai1:before {
  content: "\e788";
}

.icon-gouwudai2:before {
  content: "\e789";
}

.icon-daohang2:before {
  content: "\e643";
}

.icon-qiche2:before {
  content: "\e7ef";
}

.icon-daohang1:before {
  content: "\e611";
}

.icon-qiche1:before {
  content: "\e609";
}

.icon-wode1:before {
  content: "\e638";
}

.icon-faxian1:before {
  content: "\e6f3";
}

.icon-wode2:before {
  content: "\e793";
}

